fastapi==0.115.9
email-validator
uvicorn==0.34.3
python-dotenv
sqlalchemy==2.0.41
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
pydantic-settings
python-multipart
boto3
celery==5.4.0
redis==5.2.1
chromadb-client==0.6.3
langchain==0.3.25
langchain-chroma==0.2.2
langchain-groq==0.3.2
langchain-community==0.3.21
langchain-huggingface==0.1.2
sentence-transformers==3.4.1
pypdf
openpyxl
docx2txt
